.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 20px;
}

.create-portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color:darkgrey;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    color: black;
}

.portfolios {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    background-color:lightgray;
    border-radius: 10px;
    width: 250px;
    height: 100px;
    cursor: pointer;
    color: black;
}

.portfolio-center {
    display: flex;
    flex-direction: column;
    justify-self: center;
}  

.error {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.delete-portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color:darkgrey;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    color: black;
}

.portfolio-container {
    display: flex;
}

.input {
    width: 300px;
}