.statistics-body {
    display: flex;
    gap: 30px;
}

.header-center {
    display: flex;
    flex-direction: column;
    justify-self: center;
}  

.matrix{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    padding: 20px;
    background-color:lightgray;
    border-radius: 10px;
    width: auto;
    height: auto;
    color: black;
}